body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #dcdcdc; 
}

#canvas-container {
  position: relative;
  overflow: hidden; 
}

.key {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dedede; 
  border: 5px solid #ccc; 
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.active {
  background-color: #bf4848; 
}
